<!DOCTYPE html>
<html lang="tr">
  <head>
    <title>Spor Takımı &mdash; Colorlib Websitesi Şablonu</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,700,900|Oswald:400,700"> 
    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
  
    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/style.css">
    
  </head>
  <body>
  
  <div class="site-wrap">

    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->

    <div class="container">

      <div class="row no-gutters site-navbar align-items-center py-3">

        <div class="col-6 col-lg-2 site-logo">
          <a href="index.html">Fenerbahçe</a>
        </div>
        <div class="col-6 col-lg-10 text-right menu">
          <nav class="site-navigation text-right text-md-right">

              <ul class="site-menu js-clone-nav d-none d-lg-block">
                <li>
                  <a href="index.html">Ana Sayfa</a>
                </li>
                <li><a href="gallery.html">Galeri</a></li>
                <li class="has-children">
                  <a href="players.html">Oyuncular</a>
                  <ul class="dropdown arrow-top">
                    <li><a href="#">İrfancan Kahveci</a></li>
<li><a href="#">Sebastian Szymanski</a></li>
<li><a href="#">Edin Dzeko</a></li>
<li class="has-children">
    <a href="#">Alt Menü</a>
    <ul class="dropdown">
        <li><a href="#">Fred</a></li>
        <li><a href="#">Dusan Tadic</a></li>
        <li><a href="#">İsmail Yüksek</a></li>
        <li><a href="#">Ferdi Kadıoğlu</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="active"><a href="events.html">Etkinlikler</a></li>
                <li><a href="about.html">Hakkımızda</a></li>
                <li><a href="contact.html">İletişim</a></li>
              </ul>

              <a href="#" class="site-menu-toggle js-menu-toggle text-black d-inline-block d-lg-none"><span class="icon-menu h3"></span></a>
            </nav>
        </div>
      </div>

    </div>
    
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="hero-wrap text-center" style="background-image: url('images/hero_2.jpg');" data-stellar-background-ratio="0.5">
            <div class="hero-contents">
              <h2>Etkinlikler</h2>
              <p><a href="index.html">Ana Sayfa</a> <span class="mx-2">/</span> <strong>Etkinlikler</strong></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row mb-5">
          <!-- Etkinlik Kartları (Örnek İçerikle Doldurulmalı) -->
        </div>

        <div class="row justify-content-center">
          <div class="col-lg-7">
            <div class="custom-pagination">
              <a href="#">1</a>
              <span>2</span>
              <a href="#">3</a>
              <a href="#">4</a>
              <a href="#">5</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer">
      <div class="container">
        <div class="row footer-inner">
          <div class="col-lg-3">
            <div class="widget mb-4">
              <h3>Hakkımızda</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium vitae aliquam quia beatae necessitatibus omnis nisi, maxime tempora neque et!</p>
            </div>
          </div>
          <div class="col-lg-2 pl-4">
            <div class="widget mb-4">
              <h3>Menü</h3>
              <ul class="list-unstyled links">
                <li><a href="#">Ana Sayfa</a></li>
                <li><a href="#">Eğitim</a></li>
                <li><a href="#">Oyuncular</a></li>
                <li><a href="#">Etkinlikler</a></li>
                <li><a href="#">Hakkımızda</a></li>
                <li><a href="#">İletişim</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="widget mb-4">
              <h3>Yaklaşan Maç</h3>
              <ul class="list-unstyled links">
                <!-- Örnek İçerikle Doldurulmalı -->
              </ul>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="widget mb-4">
              <h3>Sosyal Medya
